<%- include("header"); -%>

<h1>Its the about page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur aliquam placeat dolore voluptatem rem nostrum voluptatibus! Unde reprehenderit maiores facilis sed eius, odit magni quidem delectus odio ratione error inventore blanditiis eligendi aliquid, hic possimus nemo nesciunt accusamus ducimus architecto fugiat voluptates vel aliquam. Distinctio?</p>
<br>
<p>Its a demo piece</p>

<%- include("footer"); -%>